* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
}
#about-me {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 500px;
}

#about-me h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}
#about-me h2 {
  margin-bottom: 15px;
  font-size: 25px;
}
#about-me p {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 30px;
}
.text-orange {
  color: #ff3987;
}
.btn {
  font-size: 15px;
  padding: 10px 8px;
  text-transform: uppercase;
  background-color: #db3175;
  background-image: linear-gradient(47deg, blue, tomato);
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  color: #fff;
}
.half-width {
  float: left;
  /*border: 1px solid red;*/
  width: 40%;
  padding: 2%;
  margin: 2%;
}
.hero-img {
  width: 380px;
  height: 380px;
  float: right;
}
#dream-skill {
  height: 500px;
  background-image: url(./images/2.png);
  background-repeat: no-repeat;
  background-position: right;
}
#dream-skill img {
  float: left;
  width: 380px;
  height: 380px;
}

#dream-skill h2 {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#dream-skill h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

#dream-skill p {
  text-align: justify;
}

.dream-btn {
  text-decoration: none;
  background-image: linear-gradient(180deg, purple, tomato);
}
.dream-btn a {
  text-decoration: none;
  color: #fff;
}
#experiance-area {
  height: 500px;
  margin-top: 50px;
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
  background-position: right top;
}
.ex-heading {
  padding: 25px;
  text-transform: uppercase;
  font-weight: 400;
}
.s-ex {
  text-align: justify;
  box-shadow: 10px 10px 20px #ff3987;
  border-left: 2px solid;
  border-top: 1px solid;
  border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
}

footer p {
  text-align: center;
  color: teal;
  font-size: 18px;
}
